* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif; 
}

body {
    background-color: #121212;
}

.display {
    margin: 12px auto;
    width: 98%;
    font-size: xx-large;
    text-align: right;
    color: white;
}

.buttons {
    row-gap: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

button {
    height: 48px;
    flex: 0 1 24%;
    border: none;
    border-radius: 16px;
    font-size: large;
    font-weight: normal;
    background-color: rgb(220,220,220);
}

button:hover {
    background-color: rgb(210,210,210);
}

button:active {
    background-color: rgb(190,190,190);
    transition: 0.7s;
}

button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px red;
}

.greyButton {
    font-weight: bolder;
    color: white;
    background-color: rgb(120,120,120);
}

.greyButton:hover {
    background-color: rgb(110,110,110);
}

.greyButton:active {
    background-color: rgb(90,90,90);
    transition: 0.7s;
}

.redAccent {
    color: red;
}